* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fedora';
  src: url('./font/SF\ Fedora.ttf') format('truetype');
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(15, 15, 15);
  color: white;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  text-align: center;
}

button {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 30px;
  margin: 15px;
  transition: all 0.5s;
}

button:hover {
  transform: translatey(-5px);
  border: none;
}

.wrapper-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

/*********************************/
/************* Logo  *************/
/*********************************/

.logo-container {
  display: flex;
  margin-top: 20px;
  margin-right: 60px;
}

.logo-container img {
  width: 500px;
}

/*********************************/
/************ Puntos *************/
/*********************************/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.points-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 600px;
  margin: 20px 0;
  padding: 10px;
}

#player-zone,
#computer-zone {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#computerChoice,
#playerChoice {
  width: 120px;
  height: auto;
}

#num-counter {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Fedora';
}

/************************************/
/** Botones Rock - Paper - Scissor **/ 
/************************************/

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
}

.button-container button img {
  width: 50px;
  height: auto;
}

/*********************************/
/******* Texto Resultado *********/
/*********************************/

.result-container {
  text-align: center;
}

.result-container p {
  margin: 10px 0;
  font-family: 'Fedora';
}

#result {
  color: white;
  font-size: 2rem;
}

#counter {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/*********************************/
/***** Modal Resultado Final *****/
/*********************************/

.final-result {
  position: absolute;
  top: 20%;
}

#final-result {
  text-align: center;
  color: white;
  font-size: 3rem;
}
